* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: flex-start;*/
    background-image: url("phototop.png");
    background-size: cover;
    height: 100vh;
}
.divIcons:hover {
    background-color: rgba(181, 175, 175, 0.6);
}
.divIcons {
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
/*.buts {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: space-between;
}*/
.blockDivs {
    height: 373px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 378px;
    margin-right: 378px;
    margin-top: 80px;
    text-align: center;
    align-items: center;
    padding-bottom: 80px;

}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*margin-top: 45px;*/
}
.nav {
    width: 637px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-top: 64px;

}
.nav a {
    height: 10px;
    color: #dcdcdb;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;

}
.iconsTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 63px;

}


.logoTop img {
    width: 179px;
    height: 56px;

}
.logoTop {
    margin-right: 219px;
    margin-top: 40px;
    margin-left: 376px;
}
    .section {
        margin-top: 300px;
        display: flex;
        justify-content: space-between;

    }
    .uniq {
        font-size: 30px;
        font-family: 'Raleway', sans-serif;
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: center;


}
    .psd-template {
        font-size: 42px;
        font-family: 'Raleway', sans-serif;
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: center;

    }
    .descript {
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;;
        color: rgba(255, 255, 255,0.6);
        line-height: 1.5;
        text-align: center;
}

.button {
    display: flex;
    justify-content: center;
    border-radius: 6%;
    background-color: #998675;
    /*box-shadow: 12px 12px 2px 1px rgba(45.1%, 38.8%, 34.1%, .2);*/
    width: 170px;
    height: 53px;
    text-align: center;
    align-items: center;
    margin-left: 878px;
    margin-top: 55px;
    font-family: 'Raleway', sans-serif;;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    box-shadow: inset 0 -3px 0 #736357;

}
.buts {
    width: 195px;
    height: 21px;
    color: #555555;
    font-family: 'Raleway' , sans-serif;
    font-size: 22px;
    font-weight: 400;
}
.butsText {
    width: 266px;
    height: 62px;
    color: #8c8c8c;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

header nav img {
    width: 30px;
    height: 30px;

}
/*.arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}*/
.arr {
    width: 100px;
    margin-left: 150px;

}
.arr1 {
    width: 100px;
    margin-right: 150px;

}

.icon-bye {
    width: 24px;
    height: 24px;
    margin-right: 24px;
    margin-top: 55px;
}


.icon-search {
    width: 24px;
    height: 24px;
    margin-right: 374px;
    margin-top: 55px;
}
.slides {
    width: 100vw;
    height: 700px;
    background-color: #fbfaf8;
    padding-top: 83px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.slides h3 {
    text-align: center;
    height: 28px;
    color: #555555;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 400;

}
.slides p {
    margin-top: 24px;
    text-align: center;
    width: 900px;
    height: 43px;
    color: #8c8c8c;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}
.slideshow-container {
    margin-top: 40px;
    width: 1230px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;


}
#picture-center {
    width: 770px;
    height: 430px;
}
#picture-left, #picture-right {
    height: 430px;
}
.purchase-theme {
    height: 27px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 400;
}
.purchase-theme span {
    color: #c7b299;

}
.rate-template {
    width: 456px;
    height: 18px;
    color: #615855;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-top: 8px;
}
.brown-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1920px;
    height: 150px;
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}
.purchase {
    width: 50%;
    padding-top: 48px;
    margin-left: 500px;
    text-align: left;

}
.btn {
    padding-top: 48px;
    width: 50%;

}
.btn:hover {
    cursor: pointer;

}
.purchase-now {
    width: 170px;
    height: 50px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 23px;
    text-transform: uppercase;

}


.smallLine {
    display: block;

}


.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin-top: 37px;
    margin-bottom: 15px;
}


.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot:hover {
    cursor: pointer;
}

.active {
    background-color: #717171;
}



@media only screen and (max-width: 1600px) {
    .logoTop {
        margin-left: 230px;
    }}
@media only screen and (max-width: 1500px) {
    .logoTop {
        margin-left: 190px;
    }

    header {
        width: auto;
    }
    .iconsTop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 30px;

    }
}
@media only screen and (max-width: 1400px) {
 .logoTop {
     margin-left: 160px;
     margin-right: 100px;
 }

    header {
        width: auto;
    }
    .iconsTop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 30px;

    }
}
@media only screen and (max-width: 1350px) {
    .logoTop {
        margin-left: 140px;
    }

    }
@media only screen and (max-width: 1300px) {
    .logoTop {
        margin-left: 130px;
        margin-right: 90px;
    }
    .icon-bye {
        width: 24px;
        height: 24px;
        margin-right: 10px;
        margin-top: 25px;
    }


    .icon-search {
        width: 24px;
        height: 24px;
        margin-right: 150px;
        margin-top: 25px;
    }
}
@media only screen and (max-width: 1200px) {
    .logoTop {
        width: 179px;
        height: 56px;
        margin-right: 80px;
        margin-top: 40px;
        margin-left: 120px;
    }
}

    @media only screen and (max-width: 1000px) {
        .logoTop  {
            width: 179px;
            height: 56px;
            margin-right: 75px;
            margin-top: 40px;
            margin-left: 110px;
        }
        .nav {
            width: 637px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: left;
            margin-top: 64px;

        }
        .iconsTop {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-left: 20px;

        }
        .icon-bye {
            width: 24px;
            height: 24px;
            margin-right: 12px;
            margin-top: 20px;
        }


        .icon-search {
            width: 24px;
            height: 24px;
            margin-right: 100px;
            margin-top: 15px;
        }
    }

@media only screen and (max-width: 800px) {
    .logoTop  {
        width: 179px;
        height: 56px;
        margin-right: 30px;
        margin-top: 40px;
        margin-left: 60px;
    }
    .iconsTop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 15px;

    }
    .icon-search {
        width: 24px;
        height: 24px;
        margin-right: 50px;
        margin-top: 15px;
    }

}

@media only screen and (max-width: 550px) {
    .logoTop  {
        width: 179px;
        height: 56px;
        margin-right: 25px;
        margin-top: 40px;
        margin-left: 30px;
    }
}
@media only screen and (max-width: 400px) {
    .logoTop  {
        width: 179px;
        height: 56px;
        margin-right: 5px;
        margin-top: 40px;
        margin-left: 15px;
    }
}


