* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    background-image: url("images/phototop.png");
    background-size: cover;
    height: 100vh;
}
.divIcons:hover {
    background-color: rgba(181, 175, 175, 0.6);
}
.divIcons {
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.blockDivs {
    height: 373px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 80px;
    text-align: center;
    align-items: center;
    padding-bottom: 80px;
}
.smallLine {
    display: block;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-top: 64px;
}
.nav a {
    height: 10px;
    color: #dcdcdb;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}
.iconsTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 63px;
    margin-right: 11%;
}
.logoTop img {
    width: 179px;
    height: 56px;
}
.logoTop {
    margin-right: 9%;
    margin-top: 40px;
    margin-left: 8%;
}
    .section {
        margin-top: 300px;
        display: flex;
        justify-content: space-between;
    }
    .uniq {
        font-size: 30px;
        font-family: 'Raleway', sans-serif;
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: center;
}
    .psd-template {
        font-size: 42px;
        font-family: 'Raleway', sans-serif;
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: center;
    }
    .descript {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;;
        color: rgba(255, 255, 255,0.6);
        line-height: 1.5;
        text-align: center;
}
.button {
    border-radius: 6%;
    background-color: #998675;
    width: 170px;
    height: 53px;
    text-align: center;
    align-items: center;
    line-height: 53px;
    margin-top: 55px;
    font-family: 'Raleway', sans-serif;;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    box-shadow: inset 0 -3px 0 #736357;
}
.buts {
    width: 195px;
    height: 21px;
    color: #555555;
    font-family: 'Raleway' , sans-serif;
    font-size: 22px;
    font-weight: 400;
}
.butsText {
    width: 266px;
    height: 62px;
    color: #8c8c8c;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
header nav img {
    width: 30px;
    height: 30px;
}
.arr {
    width: 100px;
    margin-left: 150px;
}
.arr1 {
    width: 100px;
    margin-right: 150px;
}
.icon-bye {
    width: 24px;
    height: 24px;
    margin-right: 24px;
    margin-top: 55px;
}
.icon-search {
    width: 24px;
    height: 24px;
    margin-top: 55px;
}
.slides {
    width: 100vw;
    height: 700px;
    background-color: #fbfaf8;
    padding-top: 83px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.slides h3 {
    text-align: center;
    height: 28px;
    color: #555555;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 400;
}
.slides p {
    margin-top: 24px;
    text-align: center;
    width: 900px;
    height: 43px;
    color: #8c8c8c;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}
.slideshow-container {
    margin-top: 40px;
    width: 1230px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}
#picture-center {
    width: 770px;
    height: 430px;
}
#picture-left, #picture-right {
    height: 430px;
}
.purchase-theme {
    height: 27px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 400;
}
.purchase-theme span {
    color: #c7b299;
}
.rate-template {
    width: 456px;
    height: 18px;
    color: #615855;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-top: 8px;
}
.brown-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 150px;
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}
.purchase {
    width: 70%;
    height: 150px;
    padding-top: 48px;
    margin-left: 35%;
    text-align: left;
}
.btn {
    padding-top: 48px;
    width: 50%;
}
.btn:hover {
    cursor: pointer;
}
.purchase-now {
    width: 170px;
    height: 50px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 23px;
    text-transform: uppercase;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin-top: 37px;
    margin-bottom: 15px;
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot:hover {
    cursor: pointer;
}
.active {
    background-color: #717171;
}
#latest-project {
    height: 28px;
    color: #555555;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-top: 81px;
    text-align: center;
}
#latest-project-text {
    width: 757px;
    height: 43px;
    color: #8c8c8c;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    margin-top: 24px;
}
.latest-projects {
    display: flex;
    justify-content: center;
}
.btns-latest-project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}
.btns-latest-project button {
    width: 135px;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #a9a9a9;
    background-color: #ffffff;
    color: #8c8c8c;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    margin: 0 10px;
}
.btns-latest-project button:hover {
    background-color: #998675;
    color: #e7e2de;
}
.content {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
@media only screen and (max-width: 1250px) {
    .blockDivs {
        height: 150%;
        margin-left: 15%;
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
    }
}
@media only screen and (max-width: 1400px) {
    .blockDivs {
        margin-left: 10%;
    }
}
    @media only screen and (max-width: 1200px) {
        .blockDivs {
            margin-left: 5%;
        }
}
@media only screen and (max-width: 1000px) {
    .blockDivs {
        margin-left: 35%;
        margin-right: auto;
        height: 200%;
        display: inline-block;
    }
}
@media only screen and (max-width: 1400px) {
    .purchase {
        width: 84%;
        margin-left: 30%;
    }
}
@media only screen and (max-width: 1200px) {
    .purchase {
        width: 94%;
        margin-left: 20%;
    }
}


